.bg-img{
    background-image: url("https://cdn.britannica.com/25/93825-050-D1300547/collection-newspapers.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    border-top-left-radius: 16px;
    border-bottom-left-radius:16px ;
    
}
.outline{
    

}

.bg-c{
    background-color:white;
    margin-top: 150px;
    border-bottom-width: 0; 
    
    border-radius: 16px; 
    
    -moz-box-shadow: rgba(255,255,255,0.5) 0 1px inset;
    -webkit-box-shadow: rgba(255,255,255,0.5) 0 1px inset;
    box-shadow: rgba(255,255,255,0.5) 0 1px inset;
    border: 1px solid rgba(0,0,0,0.2);
}
body{
    background-color:lightgray;
}
.display-5 {
    font-style: oblique;
    font-size: 2.5rem;
    font-weight: 50;
    line-height: 2;
}